@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");


 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

 
body{
    font-family: "Poppins", sans-serif;

    color:#444; 
}

h1,h2,h3,h4,h5,h6{
	color:#444;
}
h4{
    font-size: 1.2rem;
    line-height: 1em;
}

.container{
	position: relative;
	width:100%;
	min-height:100vh;
	background-color:#ffffff ;
	overflow: hidden;
}



.container::before{
	content:'';
	position: absolute;
	width:2000px;
	height:2000px;
	border-radius: 50%;
	background: linear-gradient(-45deg,rgb(118,99,209),rgb(122,119,252));
	top:-10%;
	right:48%;
	transform:translateY(-50%);
	z-index: 1;
    transition: 1.8s ease-in-out;

}

.main-wrapper{
  position: absolute;
  width: 100%;
  top:20%;
  z-index: 10;

}

.box-element{
 border-radius: 10px;
 padding:2em;
 background-color: #ffffff;
 position:absolute;
 overflow: hidden;
 right:100px;
 width:60%;
 min-height: 500px;
 -webkit-box-shadow: -1px -3px 5px -2px rgba(0,0,0,1);
    -moz-box-shadow: -1px -3px 9px -2px rgba(0,0,0,1);
    box-shadow: -1px -3px 9px -2px rgba(0,0,0,1);    
}
a{
    text-decoration: none;
}
.box-nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin:0 0 1em 0;

}
.cart-content{
  
}

.cart-item{
    display: flex;
    justify-content: space-between;
}

.cart-item img{
    width:120px;
    height:120px;
}
.btn{
    text-align: center;
    padding:0.85em;
	background-color: #ffffff;
	border-radius:10px;
    border:2px solid  #7663d1;
    color: #7663d1;
    line-height: 1em;
	outline: none;
	cursor: pointer;
}
.item-quantity {
 display: flex;
    
}
@media(max-width:1086px){

    .container {
		min-height: 800px;
		height: 100vh;
		overflow-y:scroll;
	  }
	.container:before {
		width: 1500px;
		height: 1500px;
		transform: translateX(-50%);
		left: 30%;
		bottom: 50%;
		right: initial;
		top: initial;
		transition: 2s ease-in-out;
	  }
    .box-nav{
        display:grid;
        grid-template-columns: 1fr 1fr;
        row-gap: 1em;
    }
    .box-nav:first-child{
        grid-column: 1/2;
    }
    .box-nav:last-child{
        grid-column: 2/3;
    }
    .cart-total-info{
        text-align: center;
        grid-column:1/3;
        grid-row: 2/3;
    }
}

@media(max-width:636px){
    .box-element{
        width: 100%;
        right:0px;
    }
    .container::before{
        bottom:80%;
    }
}

@media(max-width:428px){
    .btn{
        padding:0.5em;
    }
    .cart-item{
        display: grid;
        grid-template-columns: repeat(3,1fr);


    }
    .cart-item :first-child{
        grid-column: 1/4;
       
    }
    .cart-item img{
        margin:0.3em auto;
    }
   

}