@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");


 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

 
body{
    font-family: "Poppins", sans-serif;
    background-color: #F5F5F5;
	color:#444; 
	overflow-y: scroll;

}

img{
	width:100px;
	height:100px;
}

.title{
	background:linear-gradient(to right,#927AFD,#8379FD);
	color:#ffffff;
	padding:3em 1em 1em 1em;
    margin-bottom: 1em;
	border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
}
.row{
	display: flex;
	flex-direction: column;
}
.main-wrapper{
	background:#ffffff;
	margin-top:2em;
	border-radius:20px;
	padding:2em;
}
hr{
	border-top:1px solid  #bebabe;
}
.main-wrapper h3{
	padding:1em;
}
#ship-info{
	padding:1em;
	
}
form{
	position: relative;
}
.form-field{
	margin:1em auto;
}

.form-control{
	outline:none;
	border:none;
	border-radius: 10px;
	background:#f5f5f5;

	width: 70%;
	max-width: 500px;
	min-width: 250px;
	padding:1em;
}

.cart-row{
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin: 0.5em 0;
}
.main-wrapper-2{
	margin-bottom: 2em ;
}
.img-wrapper{
	padding: 1em;
	background: #f5f5f5;
	border-radius: 10px;
}

.total-amount{
	font-size: 1.5rem;
	display: flex;
	justify-content: space-between;
}

.total-amount p{
	font-size: 1rem;
	margin-left:1em;
}

.btn{
	outline: none;
	padding:1em;
	border:none;
	background:linear-gradient(to right,#927AFD,#8379FD);
	margin:1em auto;
	border-radius: 10px;
	color:#ffffff;
	font-weight: 500;
	text-transform: capitalize;
}
.btn:hover{
	background:  linear-gradient(to right,#9e89fd,#8e85fd);
}
.btn-success{
	position: absolute;
	bottom:-70px;
	transform: translateX(50%);
	right:50%;
	font-size: 1rem;
	cursor:pointer
	
}

.btn-back{
	text-decoration: none;
	
}
.main-wrapper-2 hr{
	margin-top:2em ;
}

@media(min-width:500px){
	.title{
		text-align: center;
	}
	#ship-info{
		display:grid;
		grid-template-columns: 1fr;
	}
	.form-control{
		width:400px;
	}
}

@media(min-width:760px){
	#ship-info{
		
		grid-template-columns: 1fr 1fr;
	}
	.form-control{
		width:350px;
	}

}

@media(min-width:1024px){
	.row{
	
		position: relative;

	}
	.main-wrapper{
		margin-bottom:2em;
	}
	.main-wrapper-1{
		position: absolute;
		top:10px;


		left: 30px;
	}
	.main-wrapper-2{
		position: absolute;
		top:10px;
		right:30px;
		width:45%;

	}
		
	#ship-info{
		
		grid-template-columns: 1fr;
	}
	.form-control{
		font-size:1.2rem;
		width:400px;
	}


}